[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-storages = "*"
psycopg2-binary = "*"
boto3 = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
setuptools = "*"
gunicorn = "*"
dj-database-url = "*"
python-decouple = "*"
django-on-heroku = "*"

[dev-packages]

[requires]
python_version = "3.8"
